@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  background-color: rgb(249, 243, 233);
}

.logo {
  height: 50px;
}

.changeBs {
  background-color: #fff;
  font-family: "Times New Roman", Times, serif;
}

.h3Titulo {
  background-color: rgb(117, 106, 106);
  color: #fff;
  font-family: "Times New Roman", Times, serif;
}

.footerInfo {
  background-color: black;
  color: #fff;
  font-family: "quicksand", sans-serif;
  font-size: small;
}

.changeColor:hover {
  color: yellow;
  cursor: pointer;
}

.whatsappFooter {
  height: 30px;
  width: 30px;
  position: fixed;
  right: 1%;
  bottom: 4%;
}
.whatsappFooter:hover {
  transform: scale(125%);
  transition: all 1s;
  cursor: pointer;
}

.after {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.after:hover {
  cursor: pointer;
}
.after:hover:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: yellow;
  bottom: 0;
  left: 0;
}

.marginNosotrosMobile {
  margin-left: 6%;
}

.visibility {
  visibility: hidden;
  display: none;
}

@media (min-width: 768px) {
  .carrousel {
    height: 100%;
    width: 30%;
  }
  .visibility {
    visibility: visible;
    display: unset;
  }
  .footerInfo {
    font-size: small;
  }
  .marginNosotrosMobile {
    margin-left: 6%;
  }
  .ocultarEnTablet {
    visibility: hidden;
    display: none;
  }
  .whatsappFooter {
    height: 40px;
    width: 40px;
    position: fixed;
    right: 1%;
    bottom: 4%;
  }
}
.servicios {
  background-color: rgb(201, 188, 165);
  height: 380px;
  width: 250px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  margin: 5px;
  padding-top: 15px;
  font-family: "Times New Roman", Times, serif;
  cursor: pointer;
}

.servicios p {
  -webkit-margin-before: 16px;
          margin-block-start: 16px;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
}

.serviciosContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 160px;
  margin-bottom: 70px;
  align-items: center;
}

.divSegundaCard {
  margin-top: 4%;
  margin-bottom: 4%;
}

.subtituloContabilidad {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(149, 150, 156, 0.457);
  display: inline-block;
  border-radius: 19px;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  color: #fff;
}
.subtituloContabilidad:hover {
  cursor: pointer;
  border: solid black 2px;
}

.serviciosContables {
  display: flex;
  flex-direction: column;
}

.containerOrgEmpresarial {
  margin-top: 5%;
}

.infoContainer {
  text-align: center;
}

.info {
  background-color: rgb(13, 167, 13);
  color: #fff;
  display: inline-block;
  height: 28%;
  width: 65%;
  text-decoration: none;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 26px;
  font-size: large;
  margin-top: 2%;
  margin-bottom: 17%;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  cursor: pointer;
}
.info:hover {
  background-color: black;
  color: #fff;
}

.sectionRenderizada {
  display: flex;
  flex-direction: column;
}

.alignSelf {
  align-self: center;
}

#contenedorDolarOficial {
  flex-direction: column;
}

.modal-content {
  width: 104%;
}

@media (min-width: 768px) {
  .serviciosContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 160px;
    margin-bottom: 70px;
  }
  .servicios {
    margin: 3px;
    width: 226px;
  }
  .servicios:hover {
    transform: scale(110%);
    transition: all 1s;
  }
  .divSegundaCard {
    margin-top: 0;
    margin-bottom: 0;
  }
  .serviciosContables {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .margenContabilidadIntegral {
    margin-right: 10%;
  }
  .containerOrgEmpresarial {
    margin-top: 0%;
  }
  .info {
    background-color: rgb(13, 167, 13);
    color: #fff;
    display: inline-block;
    margin-top: 3%;
    height: 28%;
    width: 54%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 70px;
    font-size: x-large;
    margin-bottom: 10%;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    cursor: pointer;
  }
  .info:hover {
    background-color: black;
  }
  .sectionRenderizada {
    display: flex;
    flex-direction: row;
    gap: 1%;
  }
  .alignSelf {
    align-self: unset;
  }
  #contenedorDolarOficial {
    flex-direction: row;
  }
  .modal-content {
    width: 100%;
  }
}
.separador {
  margin-top: -13px;
}

.primerP {
  margin-top: 19px;
}

.paddingP {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 1024px) {
  .servicios {
    margin: 3px;
    width: 300px;
  }
  .info {
    background-color: rgb(13, 167, 13);
    color: #fff;
    display: inline-block;
    height: 28%;
    width: 40%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 70px;
    font-size: x-large;
    margin-top: 1%;
    margin-bottom: 6%;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    cursor: pointer;
  }
  .info:hover {
    background-color: black;
  }
  #planesAplicandoForOf {
    gap: 1%;
  }
}
.containerContacto {
  display: flex;
  flex-direction: column;
}

.ubicacion {
  text-align: center;
  color: black;
}

.nuestrasOficinas {
  width: 320px;
  height: 400px;
}

.mapaContacto {
  text-align: center;
}

#figureMasterCard {
  width: 33%;
}

#imgMasterCard {
  height: 35%;
}

#figureVisa {
  margin-top: 3%;
}

#imgVisa {
  height: 27%;
}

#figurePayPal {
  margin-left: 4%;
}

#imgPayPal {
  height: 41%;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .containerContacto {
    display: flex;
    flex-direction: row;
  }
  .ubicacion {
    text-align: left;
    margin-right: 17px;
  }
  .nuestrasOficinas {
    width: 520px;
    margin-left: 0;
    height: 520px;
  }
  #figureMasterCard {
    margin-top: 1%;
  }
}
@media (min-width: 1024px) {
  .ubicacion {
    text-align: left;
    margin-right: 125px;
  }
  .nuestrasOficinas {
    width: 600px;
    height: 600px;
  }
}
.carrousel {
  height: 100%;
  width: 80%;
}

.img-carrousel {
  height: 280px;
}

.corouselSection {
  margin-right: 18%;
  margin-left: 18%;
}

.grids {
  display: flex;
  flex-direction: column;
}

.divSubtitulo {
  text-align: center;
}

.subtituloCripto, .subtituloCripto-2 {
  background-color: rgba(149, 150, 156, 0.457);
  display: inline-block;
  border-radius: 19px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 6px;
  padding-bottom: 5px;
  padding-right: 6px;
  padding-top: 5px;
  text-align: center;
  color: #fff;
  margin-left: -1%;
}
.subtituloCripto:hover, .subtituloCripto-2:hover {
  cursor: pointer;
  border: solid black 2px;
}

.tuBanco {
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  font-size: larger;
  color: blueviolet;
}

.parrafo {
  font-family: "Dancing Script", cursive;
}

.videoCripto {
  margin-left: 8%;
  width: 80%;
}

.paddingMobile {
  margin-right: 2%;
  margin-left: 2%;
  text-align: center;
}

@media (min-width: 768px) {
  .paddingMobile {
    margin-right: 5%;
    margin-left: 0%;
    text-align: center;
  }
  .subtituloCripto, .subtituloCripto-2 {
    margin-left: 0;
    width: 23%;
  }
}
@media (min-width: 1024px) {
  .img-carrousel {
    height: 400px;
  }
  .subtituloCripto-2 {
    margin-left: -1%;
  }
  .grids {
    display: grid;
    justify-content: space-around;
    margin-top: 4%;
    grid-template-areas: "cripto video wallet";
  }
  .cripto {
    grid-area: cripto;
  }
  .videoFinanzas {
    grid-area: video;
  }
  .e-wallet {
    grid-area: wallet;
  }
  .videoCripto {
    margin-left: 0%;
    width: 100%;
  }
  .videoFinanzas {
    margin-left: 3%;
    margin-right: 3%;
  }
  .paddingMobile {
    margin-right: 5%;
    margin-left: 2%;
    margin-top: 3%;
    text-align: center;
  }
  .subtituloCripto, .subtituloCripto-2 {
    margin-left: -1%;
    width: 50%;
  }
  .divSubtitulo {
    margin-bottom: 3%;
  }
}
.img-fondo {
  background-image: url(../img/office\ notebook.jpg);
  height: 177px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100vw;
}

.tituloIndex {
  margin-top: 1%;
  text-align: center;
}

.div-height {
  height: 100px;
}

.mediaIcon:hover {
  transform: scale(125%);
  transition: all 1s;
  cursor: pointer;
}
.mediaIcon:hover:hover {
  color: rgb(227, 162, 65);
}

@media (min-width: 768px) {
  .img-fondo {
    background-image: url(../img/office\ notebook.jpg);
    height: 230px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw;
  }
  .tituloIndex {
    margin-top: 1%;
    margin-left: 24%;
    text-align: unset;
  }
}
#imgNosotros {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  gap: 2%;
}

.navNosotros {
  color: blueviolet;
}

.imgIcons {
  height: 50px;
  width: 50px;
}

.iconDivCentral {
  margin-top: 15%;
  margin-bottom: 15%;
}

.figcaption {
  margin-left: 0;
  text-align: center;
}

.textNosotros {
  padding-left: 2%;
  padding-right: 2%;
  text-align: center;
}

#containerNosotros {
  align-self: center;
}

#imgTablet {
  width: 100%;
}

.h1Nosotros {
  text-align: center;
}

.displayServicios {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  #imgNosotros {
    display: flex;
    flex-direction: row;
  }
  #imgTablet {
    width: 50%;
  }
  .figcaption {
    margin-left: 8%;
    text-align: unset;
  }
  .iconDiv {
    margin-left: 5%;
  }
  .iconDivCentral {
    margin-top: 0;
    margin-bottom: 0;
  }
  .textNosotros {
    padding-left: 2%;
    padding-right: 2%;
    text-align: unset;
  }
  .displayServicios {
    display: flex;
    flex-direction: row;
  }
}/*# sourceMappingURL=style.css.map */