@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-color: rgb(249, 243, 233);
}

.logo {
  height: 50px;
}

.bg-white {
  background-color: #fff;
}

.h3Titulo {
  background-color: rgb(117, 106, 106);
  color: #fff;
  font-family: "Times New Roman", Times, serif;
}

.footerInfo {
  background-color: black;
  color: #fff;
  font-family: "quicksand", sans-serif;
  font-size: small;
}

.changeColor:hover {
  color: yellow;
  cursor: pointer;
}

.whatsappFooter {
  margin-top: 85%;
}

.whatsappFooter:hover {
  transform: scale(125%);
  transition: all 1s;
}

.after {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.after:hover {
  cursor: pointer;
}
.after:hover:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: yellow;
  bottom: 0;
  left: 0;
}

.visibility {
  visibility: hidden;
  display: none;
}

@media (min-width: 768px) {
  .carrousel {
    height: 100%;
    width: 30%;
  }

  .visibility {
    visibility: visible;
    display: unset;
  }

  .footerInfo {
    font-size: small;
  }

  .ocultarEnTablet {
    visibility: hidden;
    display: none;
  }
}
.servicios, .serviciosExtend {
  background-color: rgb(201, 188, 165);
  height: 380px;
  width: 300px;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  margin: 5px;
  padding-top: 15px;
  font-family: "Times New Roman", Times, serif;
}

.servicios:hover, .serviciosExtend:hover {
  transform: scale(110%);
  transition: all 1s;
}

.serviciosExtend:hover {
  background-color: rgb(188, 181, 181);
}

.servicios p, .serviciosExtend p {
  -webkit-margin-before: 16px;
          margin-block-start: 16px;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
}

#servicios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 160px;
  margin-bottom: 70px;
  align-items: center;
}

@media (min-width: 768px) {
  #servicios {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 160px;
    margin-bottom: 70px;
  }

  .servicios, .serviciosExtend {
    margin: 3px;
  }

  .separador {
    margin-top: -13px;
  }

  .primerP {
    margin-top: 19px;
  }

  .paddingP {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.ubicacion {
  text-align: left;
  margin-right: 125px;
  color: black;
}

.carrousel {
  height: 100%;
  width: 80%;
}

.img-carrousel {
  height: 400px;
}

.corouselSection {
  margin-right: 18%;
  margin-left: 18%;
}

.grids {
  display: flex;
  flex-direction: column;
}

.subtituloCripto, .subtituloContabilidad {
  background-color: rgba(149, 150, 156, 0.457);
  border-radius: 19px;
  width: 82%;
  text-align: center;
  color: #fff;
}
.subtituloCripto:hover, .subtituloContabilidad:hover {
  cursor: pointer;
  border: solid black 2px;
}

.tuBanco {
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  font-size: larger;
  color: blueviolet;
}

.parrafo {
  font-family: "Dancing Script", cursive;
}

.videoCripto {
  margin-left: 8%;
}

@media (min-width: 1024px) {
  .grids {
    display: grid;
    justify-content: space-around;
    grid-template-areas: "cripto video wallet";
  }

  .cripto {
    grid-area: cripto;
  }

  .videoFinanzas {
    grid-area: video;
  }

  .e-wallet {
    grid-area: wallet;
  }
}
.img-fondo {
  background-image: url(../img/office\ notebook.jpg);
  height: 177px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100vw;
}

.tituloIndex {
  margin-top: 1%;
  text-align: center;
}

.div-height {
  height: 100px;
}

.mediaIcon:hover {
  transform: scale(125%);
  transition: all 1s;
  cursor: pointer;
}
.mediaIcon:hover:hover {
  color: rgb(227, 162, 65);
}

@media (min-width: 768px) {
  .img-fondo {
    background-image: url(../img/office\ notebook.jpg);
    height: 230px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw;
  }

  .tituloIndex {
    margin-top: 1%;
    margin-left: 24%;
    text-align: unset;
  }
}
#imgNosotros {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  gap: 2%;
}

.imgIcons {
  height: 50px;
  width: 50px;
}

.iconDiv {
  margin-left: 5%;
}

.figcaption {
  margin-left: 8%;
}

#containerNosotros {
  align-self: center;
}

#imgTablet {
  width: 100%;
}

.h1Nosotros {
  text-align: center;
}

.pNosotros {
  display: none;
}

.displayServicios {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  #imgNosotros {
    display: flex;
    flex-direction: row;
  }

  #imgTablet {
    width: 50%;
  }

  .pNosotros {
    display: unset;
  }

  .pNosotros-1 {
    display: none;
  }

  .displayServicios {
    display: flex;
    flex-direction: row;
  }
}/*# sourceMappingURL=style.css.map */