
.containerContacto{
    display: flex;
    flex-direction: column;
}

.ubicacion{
    text-align: center;
    
    color: $ubicacion-Contacto ;
}

.nuestrasOficinas{
    width: 320px;
    height: 400px;
    
}

.mapaContacto{
   text-align: center;
}

// Alineación Tarjetas de Credito:

#figureMasterCard{
    width: 33%;
}

#imgMasterCard{
    height: 35%;
}

#figureVisa{
  margin-top: 3%;
}

#imgVisa{
    height: 27%;
}

#figurePayPal{
    margin-left: 4%;
  }

  #imgPayPal{
    height: 41%;
    margin-bottom: 0;
}
  


@media (min-width:768px){

    .containerContacto{
        display: flex;
        flex-direction: row;
    }
    
    .ubicacion{
        text-align: left;
        margin-right: 17px;
        
    }
    
    .nuestrasOficinas{
        width: 520px;
        margin-left: 0;
        height: 520px;
    }
    
    #figureMasterCard{
     margin-top: 1%;
    }
    

    }



@media (min-width:1024px){

.ubicacion{
    text-align: left;
    margin-right: 125px;
    
}

.nuestrasOficinas{
    width: 600px;
    height: 600px;
}

}