.servicios{
    background-color: rgb(201, 188, 165);
    height: 380px;
    width: 250px;
    border-radius: 5px;
    color:$cardsContabilidad;
    text-align: center;
    margin: 5px;
    padding-top: 15px;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;

}




.servicios p{
    margin-block-start: 16px;
    margin-block-end: 1em ;
}

.serviciosContainer{
    display: flex;
    flex-direction: column ;
    justify-content:center;
    margin-top: 160px;
    margin-bottom: 70px;
    align-items: center;

}    

.divSegundaCard{
 margin-top: 4%;
 margin-bottom: 4%;
}

.subtituloContabilidad{
    
    
        
        width:fit-content;
        background-color: rgba(149, 150, 156, 0.457);
        display: inline-block;
        border-radius: 19px;
        padding-left: 6px;
        padding-right: 6px;
        padding-bottom: 5px;
        padding-top: 5px;
        text-align: center;
        color: #fff;
        
    
        &:hover{
        
        cursor: pointer;
        border: solid black 2px;
        
    }
}






.serviciosContables{
    display: flex;
    flex-direction: column;
 }

 .containerOrgEmpresarial{
   margin-top: 5%;
 }

.infoContainer{
    text-align: center;
}

.info{
    background-color: rgb(13, 167, 13);
    color: #fff;
    display: inline-block;
    height: 28%;
    width: 65%;
    
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 26px;
    font-size: large;
    margin-top: 2% ;
    margin-bottom: 17%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    cursor: pointer;


    &:hover{
        background-color: black;
        
    } 
 

}



@media (min-width:768px){

    .serviciosContainer{
        display: flex;
        flex-direction: row ;
        justify-content: space-around;
        margin-top: 160px;
        margin-bottom: 70px;
    
    }    
    
    
    .servicios{
        margin: 3px;
        width: 226px;
    }
       
    
    .servicios:hover{
        transform: scale(110%);
        transition: all 1s;
      }

      .divSegundaCard{
        margin-top: 0;
        margin-bottom: 0;
       }
      
     
      .serviciosContables{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
     }
    

     .margenContabilidadIntegral{
        margin-right: 10%;
     }

     .containerOrgEmpresarial{
        margin-top: 0%;
      }


      .info{
        background-color: rgb(13, 167, 13);
        color: #fff;
        display: inline-block;
        margin-top: 3%;
        height: 28%;
        width: 54%;
        padding-top: 1%;
        padding-bottom: 1%;
        border-radius: 70px;
        font-size: x-large;
        margin-bottom: 10%;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        cursor: pointer;
    
    
        &:hover{
            background-color: black;
            
        } 
     
    
    }
    

    }


    

    
    
    .separador{
        margin-top: -13px;
        }
        
        .primerP{
            margin-top: 19px;
        }
        
        .paddingP{
            padding-left: 15px;
            padding-right: 15px;
        }

            

    @media (min-width:1024px){

    .servicios{
        margin: 3px;
        width: 300px;
    }

    .info{
        background-color: rgb(13, 167, 13);
        color: #fff;
        display: inline-block;
        height: 28%;
        width: 40%;
        padding-top: 1%;
        padding-bottom: 1%;
        border-radius: 70px;
        font-size: x-large;
        margin-top: 1%;
        margin-bottom: 6%;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        cursor: pointer;
    
    
        &:hover{
            background-color: black;
            
        } 
     
    
    }

}