@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.carrousel{
    height: 100%;
    width: 80%;
}

.img-carrousel{
    height: 400px;
    
}

.corouselSection{
    margin-right: 18%;
    margin-left: 18%;
}

.grids{
    display: flex;
    flex-direction: column;
}

.subtituloCripto{
    background-color: rgba(149, 150, 156, 0.457);
    
    border-radius: 19px;
    width: 82%;
    text-align: center;
    color: #fff;
    
    &:hover{
        color: black;
        cursor: pointer;
        border: solid black 2px;
    }


}

.tuBanco{
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: larger;
    color: $bankColor;
}

.parrafo{
    font-family:'Dancing Script', cursive;
}
.videoCripto{
    margin-left: 8%;
}

@media (min-width:1024px){

.grids{
    display: grid;
    justify-content: space-around;
    grid-template-areas: 
    "cripto video wallet";
}

.cripto{
    grid-area: cripto;
}

.videoFinanzas{
    grid-area: video;
}

.e-wallet{
    grid-area: wallet;
}






}
