@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.carrousel{
    height: 100%;
    width: 80%;
}

.img-carrousel{
    height: 280px;
    
}

 .corouselSection{
    margin-right: 18%;
    margin-left: 18%;
}



.grids{
    display: flex;
    flex-direction: column;
}

.subtituloCripto{
    background-color: rgba(149, 150, 156, 0.457);
    
    border-radius: 19px;
    width: 54%;
    text-align: center;
    color: #fff;
    margin-left: 22%;
    
    &:hover{
        
        cursor: pointer;
        border: solid black 2px;
    }


}

.tuBanco{
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: larger;
    color: $bankColor;
}

.parrafo{
    font-family:'Dancing Script', cursive;
}
.videoCripto{
    margin-left: 8%;
    width: 80%;
}

.paddingMobile{
margin-right: 2%;
margin-left: 2%;
text-align: center
}

@media (min-width:768px){
    .paddingMobile{
        margin-right: 5%;
        margin-left: 0%;
        text-align: center;
        }

        .subtituloCripto{
    
            margin-left: 38%;
            width: 23%;
           }

      .divSubtitulo{
        text-align: center;
      }
}



@media (min-width:1024px){

    .img-carrousel{
        height: 400px;
        
    }
    
  
    .grids{
    display: grid;
    justify-content: space-around;
    margin-top: 4%;
    grid-template-areas: 
    "cripto video wallet";

}

.cripto{
    grid-area: cripto;
}

.videoFinanzas{
    grid-area: video;
}

.e-wallet{
    grid-area: wallet;
}


.videoCripto{
    margin-left: 0%;
    width: 100%;
}

.videoFinanzas{
    margin-left: 3%;
    margin-right: 3%;
}

.paddingMobile{
    margin-right: 5%;
    margin-left: 2%;
    text-align: center;
    }

.subtituloCripto{
    
    margin-left: 23%;
    width: 50%;
   }


}
