#imgNosotros{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    gap: 2%;
}

.navNosotros{
    color: blueviolet;
}

.imgIcons{
height: 50px;
width: 50px;
}


.iconDivCentral{
   margin-top: 15%;
   margin-bottom: 15%;
}



.figcaption{
    margin-left: 14%;
}

.textNosotros{
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
}

#containerNosotros{
align-self: center;
     } 

#imgTablet{
    width: 100%;
}

.h1Nosotros{
    text-align: center;
}



 .displayServicios{
    display: flex;
    flex-direction: column;
 }

@media (min-width:768px){

    #imgNosotros{
        display: flex;
        flex-direction: row;
    }

    #imgTablet{
        width: 50%;
    }

    .figcaption{
        margin-left: 8%;
    }
   
    .iconDiv{
        margin-left: 5%;
       
     }

    .iconDivCentral{
        margin-top: 0;
        margin-bottom: 0;
     }
     
     .textNosotros{
        padding-left: 2%;
        padding-right: 2%;
        text-align:unset;
    }
    

    .displayServicios{
        display: flex;
        flex-direction: row;
     }
}
